amqp
asgiref
billiard
black
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
cryptography
Django
django-celery
django-cors-headers
django-elasticsearch-dsl
django-filter
django-oauth-toolkit
django-redis
djangorestframework
drf-yasg
elastic-transport
elasticsearch
elasticsearch-dsl
factory_boy
Faker
idna
inflection
jwcrypto
kombu
mypy
mypy-extensions
mysqlclient
oauthlib
packaging
pathspec
pillow
platformdirs
prompt_toolkit
pycparser
PyJWT
python-dateutil
python-decouple
pytz
PyYAML
redis
requests
six
sqlparse
types-cffi
types-pyOpenSSL
types-redis
types-setuptools
typing_extensions
tzdata
uritemplate
urllib3
vine
wcwidth
