asgiref
black
certifi
cffi
charset-normalizer
click
cryptography
Django
django-cors-headers
django-elasticsearch-dsl
django-filter
django-oauth-toolkit
django-redis
djangorestframework
drf-yasg
elastic-transport
elasticsearch
elasticsearch-dsl
idna
inflection
jwcrypto
mypy
mypy-extensions
mysqlclient
oauthlib
packaging
pathspec
pillow
platformdirs
pycparser
PyJWT
python-dateutil
python-decouple
pytz
PyYAML
redis
requests
six
sqlparse
types-cffi
types-pyOpenSSL
types-redis
types-setuptools
typing_extensions
uritemplate
urllib3
