Django==5.1.1
djangorestframework==3.15.2
asgiref
certifi
cffi
charset-normalizer
cryptography
django-cors-headers
django-oauth-toolkit
django-redis
drf-yasg
idna
inflection
jwcrypto
mypy
mypy-extensions
mysqlclient
oauthlib
packaging
pillow
pycparser
PyJWT
python-decouple
pytz
PyYAML
redis
requests
sqlparse
types-cffi
types-pyOpenSSL
types-redis
types-setuptools
typing_extensions
uritemplate
urllib3
